.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background: #fededf;
  box-shadow: rgb(201, 201, 220) 7px 9px;
  border-radius: 6px;
}
.media:hover {
  background: #fefefefe;
  box-shadow: none;
  width: 210px;
}
.title {
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.subTitle {
  display: flex;
  justify-content: space-between;
}
.M_t {
  padding-top: 5px;
  font-weight: 600;
}
.date {
  padding-top: 5px;
  font-weight: 600;
}
