.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-bottom: 20px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}
.logo1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-left: 10px;
}
h1 {
  padding-top: 30px;
  color: aliceblue;
}
.logo2 {
  width: 100px;
  height: 100px;
  padding-right: 10px;
}
