* {
  padding: 0;
  margin: 0;
}
.App {
  min-height: 60vh;
  padding-top: 130px;
  padding-bottom: 70px;

  background: linear-gradient(200deg, #ffd43f, #ededed);
}
@media (min-width: 500px) {
  .App {
    width: 100%;
  }
}
